.calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c88c8c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .calculator input[type="text"] {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #dcbdbd;
    border-radius: 5px;
    padding: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .buttons button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #cc5757;
    border: 1px solid #ed7c7c;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttons button:hover {
    background-color: #d7a6ef;
  }
  